.container {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  height: 100%;
  color: aliceblue;
}

.navbar {
  height: 60px;
  margin-top: 10px;
}

.logo img {
    margin-top: 50px ;
    height: 180px;
    width: 180px;
}

.hamburger {
  display: none;
}

.nav-contact {
  padding: 10px 38px;
  border-radius: 50px;
  color: #000000;
  background:
    linear-gradient(-45deg, #000  40%, #fff 0 60%, #000  0) right/300% 100% no-repeat,
    linear-gradient(-45deg, #0000 40%, #1e231e 0 60%, #0000 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 1s;
  font-weight: 600;
  background-color: #fff;
}

.nav-contact:hover {
  background-position: left;
  color: #f7f7d7;
  background-color: #1a1a1a;
}

.nav-elements ul {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li{
    padding-block: 10px;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 80px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul li:hover {
  cursor: pointer;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4b4343;
}

li div {
  --b: 0.1em;  
  --c: #f7f7d7; 
  color: #ffffff00;
  font-weight: 700;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#ffffff 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

li div:hover {
  --_p: 100%;
  --_s: .3s;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }


}

@media (max-width: 600px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #000000;
    opacity: 0.8;
    width: 0px;
    height: auto;
    padding-block: 20px;
    border-radius: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 170px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 23px;
  }
  .nav-contact{
    border-radius: 0;
    padding: 0 0;
    background: transparent;
    color: white; 
  }

  .nav-elements ul a {
    color: #ffffff;
    font-weight: 700;

  }
}